/* Reset */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select,
dialog,
form,
label {
    font: inherit;
    color: inherit;
    outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

ul,
li {
    list-style-type: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    all: unset;
}

button,
label[for],
select,
option,
::-webkit-search-cancel-button,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
    cursor: pointer;
}

/*  */

:root {
    --clr-background: #0891b2;
    --box-shadow: 0 3px 10px 3px rgba(0,0,0,0.3);
    --bezier: cubic-bezier(0.1, 0.6, 0.3, 1);
}

body {
    font-family: "Roboto";
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    font-weight: 500;
}

.row {
    display: flex;
}

.container {
    width: 85%;
    margin: 0 auto;
    max-width: 1200px;
}

i {
    transition: transform 160ms ease-in-out;
}

i:hover {
    transform: scale(1.13);
}

/* Hero */

.hero {
    position: relative;
    overflow: hidden;
}

.img-container {
    position: relative;
    padding-top: 2em;
    animation: fadeInRight 1.5s var(--bezier) both;
}

.img-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 1000vw;
  height: 100%;
  background: var(--clr-background);
  transform-origin: bottom left;
  transform: skewY(-15deg);
  z-index: -1;
}

.hero__img {
    box-shadow: var(--box-shadow);
}

.name {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
    color: white;
    font-weight: normal;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 4.5px;
    text-transform: uppercase;
    height: fit-content;
}

.about-me {
    margin-top: 2em;
    animation: fadeInLeft 1s var(--bezier) both;
}

.about-me__title {
    font-size: 2.4rem;
    text-align: center;
    padding-bottom: 0.5em;
}

.about-me__text {
    font-size: 1.25rem;
}

/* Main */

.main__header {
    text-align: center;
    padding: 0.6em 0;
}

.main__projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-rows: max-content;
    gap: 3em;
    margin-bottom: 3em;
}

.main__card {
    animation: fadeInUp 1.5s var(--bezier) backwards;
    transition: transform 0.2s var(--bezier);
}

.main__card:hover {
    transform: translateY(-5px);
}

.card__img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card__content {
    padding: 1em 1.3em;
    min-height: 220px;
    box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.2);

}

.card__header {
    align-items: center;    
    justify-content: space-between;
    margin-bottom: 0.35em;
}

.card__icons {
    gap: 0.5em;
    font-size: 1.3em;
}

/* Footer */

.footer-bg {
    position: relative;
    background-color: var(--clr-background);
    color: white;
    padding: 2em 0;
}

.footer__title {
    text-align: center;
    margin-bottom: 1em;
}

.footer__img {
    position: absolute;
    width: 100vw;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
}

.footer__links {
    font-size: 1.5rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin-top: 1em;
    color: black;
}

@media (min-width: 786px) {
    .hero__container {
        box-shadow: var(--box-shadow);
        background-color: white;
    }

    .hero {
        padding: 7em 0;
    }
    
    .hero::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 300vw;
        height: 100%;
        background: var(--clr-background);
        transform-origin: bottom left;
        transform: rotate(-15deg);
        z-index: -1;
    }

    .img-container {
        width: 50%;
        float: left;
        padding-right: 1em;
        padding-top: 0;
        padding-bottom: 0;
    }

    .hero__img {
        transform-origin: bottom right;
        transform: scale(1.1);
    }

    .name {
        top: 0;
        left: 150%;
        width: 150%;
        transform: translate(-50%, -100%);
        letter-spacing: 16px;
    }

    .img-container::before {
        content: none;
    }

    .about-me {
        padding: 6em 2em;
    }

    .main__header {
        text-align: start;
    }

    /* Footer */
    
    footer {
        display: flex;
        justify-content: space-between;
        gap: 1em;
    }

    .footer__title {
        text-align: left;
    }

    .footer__img {
        all: unset;
        width: 40%;
        height: auto;
        object-fit: cover;
    }

    .footer__links {
        justify-content: start;
        font-size: 2em;
    }

    .footer__phone::before {
        font-family: "FontAwesome";
        content: '\f095';
        margin-right: 8px;
        font-size: 1em;
    }

    .footer__mail::before {
        font-family: "FontAwesome";
        content: '\f0e0';
        margin-right: 8px;
        font-size: 1em;
    }
}

@media (min-width: 1200px) {
    .hero__container {
        display: flex;
    }

    .img-container {
        width: 450px;
        padding: 0;
    }

    .img-wrapper {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    .hero__img {
        float: none;
        transform: none;
        height: 100%;

    }

    .name {
        left: 0;
        top: 100%;
        transform: translate(0, -100%);
        font-size: 3.5rem;
        margin-left: 6px;
        width: 100%;
    }

    .about-me {
        flex: 1;
    }

    /* Footer */
    footer {
        font-size: 1.4rem;
    }

    .footer__img {
        width: 55%;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}